<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Integrated Circuits</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/main.css'>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    <h1>Integrated Circuits</h1>
    <div id="appContainer">
        <div id="searchContainer">
            <label for="search">Search</label>
            <input id="search" v-model="search" />
            <span>(regular expression accepted)</span>
        </div>
        <div id="legendContainer">
            <div class="legendItem">
                <div class="pin-number NC">x</div>
                <label>Not Connected</label>
            </div>
            <div class="legendItem">
                <div class="pin-number GND">x</div>
                <label>Ground</label>
            </div>
            <div class="legendItem">
                <div class="pin-number VCC">x</div>
                <label>VCC</label>
            </div>
            <div class="legendItem">
                <div class="pin-number input HIGH">x</div>
                <label class="input">High Input</label>
            </div>
            <div class="legendItem">
                <div class="pin-number input LOW">x</div>
                <label class="input">Low Input</label>
            </div>
            <div class="legendItem">
                <div class="pin-number output HIGH">x</div>
                <label>High Outpu</label>
            </div>
            <div class="legendItem">
                <div class="pin-number output LOW">x</div>
                <label>Low Output</label>
            </div>
            <div class="legendItem">
                <div class="pin-number NC input">x</div>
                <label class="inverted input">Inverted Input</label>
            </div>
        </div>
        <div id="icsContainer">
            <ic-display v-for="ic in ics" :ic="ic"></ic-display>
        </div>
    </div>
    <script src='scripts/main.js' type="module"></script>
</body>

<!-- 
https://gist.github.com/willurd/5720255
python server.py
-->

</html>