html,
body {
    font-family: sans-serif;
}

div#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#searchContainer input {
    margin: 10px;
}

div#legendContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div.legendItem {
    display: flex;
    align-items: center;
}

div.legendItem label.input {
    font-weight: bold;
}

div.legendItem label.inverted {
    border-top: 1px solid black;
}

div.legendItem .pin-number {
    margin: 3px;
}

div#icsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.icContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

div.header {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

div.header .id {
    font-weight: bold;
}

div.header .datasheet {
    font-size: .75em;
}

div.ic {
    display: flex;
    flex-direction: row;
    font-family: monospace;
}

div.ic-box {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 60px;
}

div.pin-strip {
    display: flex;
    flex-direction: column;
}

div.pin {
    position: relative;
}

div.pin-number {
    position: relative;
    border: 1px solid black;
    width: 20px;
    margin: 2px 0;
    text-align: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.pin-number.input {
    cursor: pointer;
}

div.pin-number.HIGH {
    background: green;
}

div.pin-number.LOW {
    background: #F04040;
}

div.pin-number.GND {
    background: #FFD700;
    border: 1px dashed black;
}

div.pin-number.VCC {
    background: #8FBC8F;
    border: 1px dashed black;
}

div.pin-number.NC {
    background: #FFFFFF;
}

div.pin-number.left {
    border-right: 0;
}

div.pin-number.right {
    border-left: 0;
}

div.io {
    position: absolute;
    top: 0;
}

div.io.left {    
    right: 100%;
    border-bottom: .6em solid transparent;
    border-top: .6em solid transparent;
}

div.io.left.input {
    border-left: .8em solid black;
    border-right: 0;
}

div.io.left.output {
    border-left: 0;
    border-right: .8em solid black;
}

div.io.input_output {
    border-left: .4em solid black;
    border-right: .4em solid black;
}

div.io.right {
    left: 100%;
    border-bottom: .6em solid transparent;
    border-top: .6em solid transparent;
}

div.io.right.input {
    border-left: 0;
    border-right: .8em solid black;
}

div.io.right.output {
    border-left: .8em solid black;
    border-right: 0;
}

div.pin .pin-name {
    position: absolute;
    top: 3px;
}

div.pin .pin-name.inverted {
    border-top: 1px solid black;
}

div.pin .pin-name.left {
    left: 27px;
}

div.pin .pin-name.right {
    right: 27px;
}